.header-container{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
}
.list-container{
    display: flex;
    list-style-type: none;
}
.list-items{
    margin: 15px;
}
.loginButton{
    margin-top: 30px;
    background-color: #a6a150;
    color: white;
    border: 0px;
    border-radius: 8px;
    width: 60px;
    padding: 8px;
}
.link{
    text-decoration: none;
}